/* 
    Document   : instrutor
    Created on : 26/01/2013, 17:37:27
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

#instru{
    width: 53px;
    height: 20px;
    margin-left: 1.5px;
    float: left;
    background:silver;
    /*border: 1px solid #005702;*/
}
#fili{
    width: 33px;
    height: 20px;
    float: left;
    margin-left: 169px;
    background:silver;
    /* border: 1px solid #005702;*/

}
#stat{
    width: 40px;
    height: 20px;
    float: left;
    margin-left: 190px;
    background:silver;
    /* border: 1px solid #005702;*/

}

#feder{
    width: 64px;
    height: 20px;
    float: left;
    margin-left: 181px;
    background:silver;
    /* border: 1px solid #005702;*/
}
#cad{
    float:none;
    border: 1px solid #FFF;
}
input[type="checkbox"]{
    position: absolute;
    margin-left: 10px;
    border-color: #0044cc;
   
}

/*
 Checkbox 
input[type="checkbox"] {
     IE opacity hacks 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    margin-left: 100px;
}
.cb-label {
    position: relative;
}
.cb-label:before {
    content: ' ';
    position: absolute;
    background: transparent url(http://blog.parkji.co.uk/images/posts/styling-checkboxes/switch.jpg) no-repeat scroll 0 0;
    height: 41px;
    width: 143px;
    left: -150px
}
input[type="checkbox"]:checked ~ .cb-label:before,
 the .checked class is used by IE only 
input[type="checkbox"]:checked ~ .cb-label:before {
    background-position: 0 -40px;
}*/