.perfil li{
    font-size: 5px;
}

.breadcrumb a{
    color: #5bb75b;
}
.breadcrumb{
    margin-top: -20px;
    
    background-color: white;
    border-bottom: 1px solid #424242;
}

a{
    color: #5BB75B;
}

.obrigatorio{
    color: red;
}
.pagina{
    background-color: black;
    opacity: 0.3;
    
}
.mensagem_alert{
   position: fixed;
   border: 1px solid;
   min-height: 300px;
   min-width: 400px;
   max-height: 300px;
   max-height: 200px;
   width: 300px;
}
